@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.redes {
    position: fixed;
    z-index: 5;
    margin-top: 20px;
    margin-left: 20px;
    background: rgb(235, 235, 235);
    padding: 5px 8px 2px 8px;
    border-radius: 5px;
}
.redes ul {
    display: flex;
    gap: 30px;
    flex-direction: column;
    list-style-type: none;
    transition: all 0.4s ease;
}
.redes img {
    width: 50px;
    transition: transform 0.3s;
}
.redes img:hover {
    scale: 1.1;
    cursor: pointer;
    opacity: 80%;
}
.redes.column ul {
    flex-direction: row;
    gap: 15px;
}


div.background_letters {
    color: #161618;
    position: absolute;
    z-index: 0;
    user-select: none;
    pointer-events: none;
}

section {
    position: relative;
    z-index: 1;
    width: 80%;
    margin: 40px auto;
    font: normal 13pt 'Roboto Slab';
    background-color: transparent;
    color: white;
}
hr {
    position: relative;
    z-index: 3;
    width: 80%;
    margin: 0 auto;
}
section h2 {
    text-align: center;
    margin-bottom: 12px;
}


.box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}
.box p {
    width: 74%;
}
.perfil_box {
    width: 25%;
}
.box img {
    width: 80%;
    border: 1px solid white;
}

section#formacao {
    width: 50%;
    margin: 50px auto;
}

section#skills {
    width: 50%;
    margin: 50px auto;
}
section#skills ul {
    list-style-type: none;
    margin-left: 30px;
}