.projects_page {
    width: 100%;
    height: 950px;
    background: rgba(13, 13, 13, 1);
}
.logo_header {
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.logomini {
    width: 125px;
    height: 125px;
}
.logomini img {
    width: 100%;
}
.title_projects h1 {
    color: #FFF;
    width: 50%;
    text-align: center;
    font-family: Teko;
    font-size: 96px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}
.nothing {
    width: 125px;
    height: 125px;
}
.bar {
    width: 100%;
    text-align: center;
    background: #0D0D0D;
    color: #0D0D0D;
}


#pictures img{
    width: 1250px;
    height: 630px;
}
#pictures:hover {
    scale: 1.01;
    cursor: pointer;
    border: 4px dashed rgb(255, 255, 255);
}
#pictures {
    border: 7px double rgb(255, 255, 255);
    width: 1250px;
    margin-left: 35px;
    margin-top: 35px;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}


/* Tabelinha de projetos */
#projects .projects {
    position: absolute;
    width: 325px;
    height: 150px;
    
    border: 5px solid gray;
    background: white;
    
    padding-top: 10px;
    padding-left: 20px;
    text-align: initial;
    
    
    font-family: Arial;
    font-size: 17pt;
    transition-duration: 0.1s;
}

#projects div:nth-child(1) {
    right: 5%;
    margin-top: 100px;
}

#projects div:nth-child(2) {
    right: 6%;
    margin-top: 150px;
}

#projects div:nth-child(3) {
    right: 7%;
    margin-top: 200px;
}

#projects div:nth-child(4) {
    right: 8%;
    margin-top: 250px;
}

#projects div:nth-child(5) {
    right: 9%;
    margin-top: 300px;
}

section #projects .ativo1, section #projects .ativo2, section #projects .ativo3, section #projects .ativo4, section #projects .ativo5, #projects div:hover {
    font-weight: bold;
    font-size: 20pt;
    border: 7px solid #000000;
    cursor: pointer;
    color: grey;
    height: 200px;
}
section #projects .ativo1 .subText_pro, section #projects .ativo2 .subText_pro, section #projects .ativo3 .subText_pro, section #projects .ativo4 .subText_pro, section #projects .ativo5 .subText_pro ,#projects div:hover > p{
    color: rgb(78, 78, 78);
    display: block;
}


section #projects .ativo1, #projects div:nth-child(1):hover {
    margin-top: 60px;
}

section #projects .ativo2, #projects div:nth-child(2):hover {
    margin-top: 110px;
}

section #projects .ativo3, #projects div:nth-child(3):hover {
    margin-top: 160px;
}

section #projects .ativo4, #projects div:nth-child(4):hover {
    margin-top: 210px;
}

section #projects .ativo5, #projects div:nth-child(5):hover {
    margin-top: 260px;
}
.subText_pro {
    display: none;
    margin-top: 0px;
}
.subText_pro:hover {
    text-decoration: underline;
}

/*section #projects .ativo1*/